body { background: #eff0f0 !important; }

::selection { color: #FFF; background: #00aee3; }

::-moz-selection { color: #FFF; background: #00aee3; }

.btn-primary { background-color: #00d8b3; border: 1px solid #00d8b3; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { color: #00d8b3; border: 1px solid #00d8b3; }

.loader:after { background-color: #00aee3; }

.loader:before { border: 1px solid #00aee3; }

.topheader ul.login-header li a:hover { color: #fff; background-color: #00aee3; }

.modal-header { background: #00aee3; }

.modal-open .modal, .modal-backdrop { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.nav-tabs li.active { border-bottom: 3px solid #00aee3; }

.tab-content form .btn-secondary { background-color: #00aee3; color: #fff; }
.tab-content form .btn-secondary:hover { background-color: #00d8b3; }

#login-form input[type="submit"], #forgot-form input[type="submit"], #register input[type="submit"] { background-color: #00aee3; color: #fff; }
#login-form input[type="submit"]:hover, #forgot-form input[type="submit"]:hover, #register input[type="submit"]:hover { background-color: #00d8b3; }

.cd-logo h1 { color: #00aee3; }
.cd-logo h1 a { color: #00aee3; }
.cd-logo h2 { color: #00d8b3; }

.cd-primary-nav .see-all a { color: #00aee3; }

.cd-primary-nav > li > a { color: #00aee3; }
.cd-primary-nav > li > a:hover { color: #00d8b3; }
.cd-primary-nav > li > a.selected { color: #00d8b3; box-shadow: inset 0 -2px 0 #00d8b3; }

.cd-secondary-nav > li > a { color: #00aee3; }
.cd-secondary-nav a:hover { color: #00aee3; }

.cd-nav-gallery .cd-nav-item h3 { color: #00aee3; }

.cd-search-trigger::before { border: 3px solid #00aee3; }
.cd-search-trigger::after { background: #00aee3; }
.cd-search-trigger span::before, .cd-search-trigger span::after { background: #00aee3; }

.cd-primary-nav > .has-children > a::before, .cd-primary-nav > .has-children > a::after { background: #00aee3; }

.has-children > a:hover::before, .has-children > a:hover::after, .go-back a:hover::before, .go-back a:hover::after { background: #00aee3; }

.cd-overlay { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.hvr-underline-from-center:before { background: #00d8b3; }

.hvr-overline-from-center:before { background: #00d8b3; }

.overlay-transparent { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.services h3 { color: #00aee3; }
.services .divider span:before, .services .divider span:after { background-color: #00aee3; }
.services .servise-item:before { background: #00d8b3; }
.services .servise-item h4 { color: #00d8b3; }

.featured h3 { color: #00aee3; }
.featured svg.cost-svg, .featured svg.stuts-svg, .featured svg.type-svg, .featured .draft-svg, .featured .bed-svg, .featured .bath-svg { fill: #00d8b3; }
.featured .divider span:before, .featured .divider span:after { background-color: #00aee3; }
.featured .card-block h5, .featured .card-block h5 a { color: #00aee3; }
.featured .card-block h6, .featured .card-block h6 a { color: #00d8b3; }

.card:hover .figure-effect figure, .card-noeffect .figure-effect:hover .figure-effect figure { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.card a:hover, .card a:focus { color: #00aee3; }

.owl-prev { background-color: #00aee3; }

.owl-next { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.btn-material { background: #00aee3; }

#toTop { background: #00d8b3; }

#toTop:hover { background: #00aee3; }

.btn-more:active, .btn-more:hover { color: #00aee3; }

.btn-more:before { color: #00aee3; }

.parallax-overlay { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.mail-list input[type="submit"] { background-color: #00d8b3; }
.mail-list input[type="submit"]:hover { background-color: #00aee3; color: #FFF; }

.recently-offer h3 { color: #00aee3; }
.recently-offer .divider span:before, .recently-offer .divider span:after { background-color: #00aee3; }
.recently-offer .card h5, .recently-offer .card h5 a { color: #00aee3; }
.recently-offer .card h6, .recently-offer .card h6 a { color: #00aee3; }
.recently-offer .card .details h6, .recently-offer .card .details h6 a { color: #00d8b3; }
.recently-offer .card svg.cost-svg, .recently-offer .card svg.stuts-svg, .recently-offer .card svg.type-svg, .recently-offer .card .draft-svg, .recently-offer .card .bed-svg, .recently-offer .card .bath-svg { fill: #00d8b3; }

figure.effect-winston a:hover, figure.effect-winston a:focus { color: #00aee3; }

.contact .contact-form button:hover { border: 1px solid #00d8b3; color: #00d8b3; }

.contact h3 { border-bottom: 3px solid #00d8b3; color: #00d8b3; }
.contact h3:before, .contact h3:after { background-color: #00d8b3; }

.contact-phone p { color: #00d8b3; }
.contact-phone i { color: #00d8b3; }

.site-search-module-inside .btn-search { background-color: #00aee3; border: 1px solid #00aee3; }
.site-search-module-inside .btn-search:hover { color: #00aee3; border: 1px solid #00aee3; }
.site-search-module-inside .btn-advsearch { background-color: #00d8b3; border: 1px solid #00d8b3; }
.site-search-module-inside .btn-advsearch:hover { color: #00d8b3; border: 1px solid #00d8b3; }

.nstSlider .bar { background: #00d8b3; }

h3.properties-title { background: #00aee3; }

.properties-content:hover h3 a { background: #00d8b3; }

.news h3 { color: #00aee3; }
.news .divider span:before, .news .divider span:after { background-color: #00aee3; }

.newblock:hover { background: #00aee3; }

.partner h3 { color: #00aee3; }
.partner .divider span:before, .partner .divider span:after { background-color: #00aee3; }

footer h4 { color: #00d8b3; }
footer .divider span:before, footer .divider span:after { background-color: #00d8b3; }
footer ul li a:hover { color: #00d8b3; }

div.pp_overlay { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); opacity: 0.6; }

.footer-logo h3 { color: #00aee3; }

.aside-block h3 { color: #00aee3; }
.aside-block .divider span:before, .aside-block .divider span:after { background-color: #00aee3; }

.search-aside .btn-search { background-color: #00aee3; border: 1px solid #00aee3; }
.search-aside .btn-search:hover { color: #00aee3; border: 1px solid #00aee3; }
.search-aside .btn-advsearch { background-color: #00d8b3; border: 1px solid #00d8b3; }
.search-aside .btn-advsearch:hover { color: #00d8b3; border: 1px solid #00d8b3; }

.contact-aside .header-contact i { background-color: #00d8b3; }
.contact-aside form .btn { background-color: #00aee3; }
.contact-aside form .btn:hover { background-color: #00d8b3; }

.news-aside-block h4 a { color: #00d8b3; }

.checkbox label:after { border: 3px solid #00aee3; border-top: none; border-right: none; }

.meta-inner-wrapper span { color: #00aee3; }

.cbp-vm-options { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.cbp-vm-view-grid .card h4 a, .cbp-vm-view-list .card h4 a { color: #00aee3; }

.pagination > .current > a, .pagination > .active > a:focus, .pagination > .current > a:hover, .pagination > .current, .pagination > .current > span:focus, .pagination > .current:hover { background-color: #00d8b3; border-color: #00d8b3; color: #fff; }

.pagination > a:focus, .pagination > a:hover, .pagination > span:focus, .pagination > span:hover { color: #00d8b3; }

.single-title { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

.related-post h3 { color: #00aee3; }
.related-post .divider span:before, .related-post .divider span:after { background-color: #00aee3; }

.related-post-block:hover { background: #00aee3; }

.agent h3 { color: #00aee3; }
.agent a.btn { background: #00aee3; }
.agent a.btn:hover { background: #00d8b3; }

.contact-info h3 { background: #00aee3; }
.contact-info h3:hover { background: #00d8b3; }

.page-error h3 { color: #00aee3; }
.page-error h4 a { color: #00d8b3; }
.page-error h4 a:hover { color: #00aee3; }

h3#comments, #respond h3 { background: #00aee3; background: -moz-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00aee3), color-stop(100%, #00d8b3)); background: -webkit-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -o-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: -ms-linear-gradient(left, #00aee3 0%, #00d8b3 100%); background: linear-gradient(to right, #00aee3 0%, #00d8b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#00d8b3', GradientType=0 ); }

#commentform a { color: #00aee3; }
#commentform a:hover { color: #00d8b3; }

.reply a, .comment-navigation .newer a, .comment-navigation .older a, input#submit { background: #00aee3; }

.comment-navigation .older a:hover, input#submit:hover { background: #00d8b3; }

.comment-meta { color: #00aee3; }

.remove-from-favorite { background: #00aee3; }

.user-profile .form-option label { color: #00aee3; }
.user-profile input[type="submit"] { background: #00aee3; }
.user-profile input[type="submit"]:hover { background: #00d8b3; }

.goto-address-button { background: #00aee3; }

.goto-address-button:hover { background: #00d8b3; }

.inputfile-1 + label { color: #fff; background: #00aee3; }

.inputfile-1:focus + label, .inputfile-1.has-focus + label, .inputfile-1 + label:hover { background: #00d8b3; }

button.btn { color: #fff; background: #00aee3; }

button.btn:hover { background: #00d8b3; }

/*# sourceMappingURL=blue.css.map */
