	$body-color:#eff0f0; //f0f2f5
	$white: #FFF;

	$gray-darker:  #000 !default;
	$gray-dark:    #b6b6b6 !default;
	$gray-form  :  #ccc;
	$grey-border:#d7d8d8;
	$gray:         #eff0f0 !default;  
	$gray-light:   #f7f7f7 !default; 
	
	
    $grey-card-footer:#f5f5f5;
	// z-index
	$below-content: 8;
	$content: 9;
	$above-content: 10;
	
	// main   Colour 1: #00aee3  Colour 2: #00d8b3
	// orang  Colour 1: #f46b45  Colour 2: #eea849
	// grey   Colour 1: #76b852  Colour 2: #8DC26F
	// black  Colour 1: #16222A  Colour 2: #3A6073
	
	// Violet Colour 1: #4776E6  Colour 2: #8E54E9
	// Moss   Colour 1: #134E5E  Colour 2: #71B280
	// Opa    Colour 1: #3D7EAA  Colour 2: #FFE47A
	// Ash    Colour 1: #606c88  Colour 2: #3f4c6b
	// Ash    Colour 1: #70e1f5  Colour 2: #ffd194